<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>

    <!-- UNIVERSAL HEAD LINKS -->
    <% include ../partials/ENG/head %>

</head>
<body>

    <!--UNIVERSAL NAVBAR -->
    <% include ../partials/SPA/navigation %>

    <div class="container">

        <p class="content align-right">Acerca de nosotros</p>

        <div class="col center">

            <p>Nuestro programa esta licenciado por la ciudad de Chicago y el Departamento de Infancia y Servicios Familiares de Illinois
                (DFCS siglas en inglés). La filosofia del programa de cuidado de niños en Pequeños Sabios es promover el crecimiento de 
                de nuestros niños social, cognitiva, emocional y fisicamente con una variedad de actividades lideradas por profesores y otras
                lideradas por los mismos niños. Las actividades son diseñadas para desarrollar la creatividad, comunicación y autoestima. La 
                individualidad y la diversidad cultural son respetadas y promovidas, cada niño es tratado como un individuo con diferentes necesidades,
                cultura y cuidados especiales. Servir en una comunida diversa nos da la oportunidad de explorar la herencia y tradiciones 
                de cada niño para enriquecer  el aprendizaje de cada actor de la comunidad.
            </p> 

            <p>
                Nosotros realmente confiamos que con un ambiente saludable en casa, escuela y comunidades, los niños tendrán la oportunidad de
                crecer y ser exitosos. Esto es posible con la cooperación entre profesores y padres, con los padres como primeros educadores de los niños.
            </p>

            <br>

            <img src="images/Martha.jpg" class="center about-img">

            <br>
            <br>

            <p class="align-right sign">-Martha Reinao Montealegre</p>

        </div>

        <div class="text-justify row">


        </div>

        <br>

        
    </div>

    <!-- UNIVERSAL FOOTER -->
    <% include ../partials/SPA/footer %>

</body>
</html>