<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Escuela de Padres :: Pequeños Sabios Daycare</title>

    <!-- UNIVERSAL HEAD LINKS -->
    <% include ../partials/ENG/head %>

</head>
<body>

    <!--UNIVERSAL NAVBAR -->
    <% include ../partials/SPA/navigation %>

    <div class="container">

        <div class="row">
            <div class="col center">        
                <iframe src="https://www.youtube.com/embed/BJUIHT2c9Hs"></iframe>
                <h4>10 Habilidades del cuidado para el bebé que todo padre primerizo</h4>
        </div>
            <div class="col center">
                <iframe src="https://www.youtube.com/embed/JbKLLz_8xA0"></iframe>
                <h4>18 cosas importantes que los bebés intentan decirte</h4>        
            </div>
        </div>

        <div class="row">
            <div class="col center">        
                <iframe src="https://www.youtube.com/embed/n7tj8a1u3sg"></iframe>
                <h4>11 Errores de crianza que arruinan el crecimiento de un niño</h4>
        </div>
            <div class="col center">
                <iframe src="https://www.youtube.com/embed/JxW_71lFsB4"></iframe>
                <h4>10 Cosas Que Nunca Deberías Decirles A Los Adolescentes</h4>        
            </div>
        </div>

        <div class="row">
            <div class="col center">        
                <iframe src="https://www.youtube.com/embed/fIxypHmYXlo"></iframe>
                <h4>10 cosas que los padres no deberían hacer por sus hijos</h4>
        </div>
            <div class="col center">
                <iframe src="https://www.youtube.com/embed/bM60WeFtnrw"></iframe>
                <h4>10 Rasgos de padres tóxicos que arruinan la vida de los hijos</h4>        
            </div>
        </div>


    </div>    

    <!-- UNIVERSAL FOOTER -->
    <% include ../partials/SPA/footer %>

</body>
</html>