<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Escuela de Padres :: Pequeños Sabios Daycare</title>

    <!-- UNIVERSAL HEAD LINKS -->
    <% include ../partials/ENG/head %>

</head>
<body>

    <!--UNIVERSAL NAVBAR -->
    <% include ../partials/SPA/navigation %>


    <!-- UNIVERSAL FOOTER -->
    <% include ../partials/SPA/footer %>

</body>
</html>