<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pequeños Sabios Day Care</title>

    <!-- UNIVERSAL HEAD LINKS -->
    <% include ../partials/ENG/head %>

</head>
<body>

    <!--UNIVERSAL NAVBAR -->
    <% include ../partials/SPA/navigation %>

    <div class="container">

        <div class="row">
            <p class="content col">Bienvenidos a nuestra guardería!</p>
        </div>

        <div class="row sm-inlineblock">

            <div class="col ">
                <p class="rose-bg">
                    Somos una guardería con más de quince años de experiencia trabajando por la infancia de Chicago.
                    Nuestro ambiente familiar y caluroso asegura el desarrollo saludable física y mentalmente para nuestros niños, 
                    cuidamos de ellos como nuestros dando un lugar seguro para jugar e interactuar con otros niños usando varias actividades
                    de aprendizaje. Nuestras puertas están abiertas para los niños de nuestra comunidad desde seis semanas hasta doce años.
                    Estamos ubicados en el noroeste de Chicago entre la avenida Cicero y avenida Laramie con avenida Division,  cerca al La Follete Park
                </p>
            </div>

            <!-- INFO CAROUSEL -->
            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade rotated shadow-lg" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="5000">
                        <img src="images/CAROUSEL1.jpg" class="d-block car-img">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="images/CAROUSEL2.jpg" class="d-block car-img">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="images/CAROUSEL3.jpg" class="d-block car-img">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="images/CAROUSEL4.jpg" class="d-block car-img">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="images/CAROUSEL5.jpg" class="d-block car-img">
                    </div>
                </div>
            </div>
            <!-- END CAROUSEL -->
        </div>

        <br>
        <br>
        <br>

        <div class="row">
                <div class="col">
                    <p class="content"><i class="far fa-clock fa-lg"></i> Horario flexible</p>
                    <p class="">Tenemos tres turnos para elección de los padres: </p>
                    <ul>
                        <li>Mañana</li>
                        <li>Tarde</li>
                        <li>Extendido</li>
                    </ul>
                </div>
                <div class="col">
                    <p class="content"><i class="fas fa-running fa-lg"></i> Actividades</p>
                    <ul>
                        <li>Rutina diaria</li>
                        <li>Salidas de campo</li>
                        <li>Exploración de vecindario</li>
                        <li>Centro de aprendizaje</li>
                        <li>Actividades grupales</li>
                    </ul>
                </div>
        </div>
        <div class="row">
                <div class="col">
                    <p class="content"><i class="fas fa-apple-alt fa-lg"></i> Comida</p>
                    <ul>
                        <li>Comida de casa</li>
                        <li>Dieta balanceada</li>
                        <li>Horario de dieta individual</li>
                    </ul>
                </div>
                <div class="col">
                    <p class="content"><i class="fas fa-child fa-lg"></i> Capacidad</p>
                    <ul>
                        <li>Mañana: 8 niños</li>
                        <li>Tarde: 8 niños</li>
                        <li>Extendido: 5 niños</li>
                    </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p class="content"><i class="fas fa-briefcase-medical fa-lg"></i> Ambiente saludable</p>
                <ul>
                    <li>Primeros auxilios</li>
                    <li>Promotion de buenas prácticas</li>
                    <li>Siesta diaria</li>
                </ul>
            </div>
            <div class="col-2"></div>
        </div>


    </div>

    <!-- UNIVERSAL FOOTER -->
    <% include ../partials/SPA/footer %>

</body>
</html>