<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>

    <!-- UNIVERSAL HEAD LINKS -->
    <% include ../partials/ENG/head %>

</head>
<body>
    
    <!--UNIVERSAL NAVBAR -->
    <% include ../partials/SPA/navigation %>

    <div class="container">

        <p class="content align-right">Servicios</p>

        <div class="card mb-3">
            <img class="card-img-top services-img" src="images/abacus.png">
            <div class="card-body">
              <h4 class="center subtitle">Cuidado de Niños</h4>
              <p class="card-text center">Concentramos nuestros esfuerzos en emular el mejor ambiente familiar para nuestros niños donde 
                  ellos se sentirán como si estuvieran en casa. Nuestras actividades y rutinas están enfocadas en desarrollar habilidades
                  sociales y cognitivas en cada niño.
              </p>
            </div>
          </div>

        <div class="card mb-3">
            <img class="card-img-top services-img" src="images/hands.png">
            <div class="card-body">
                <h4 class="center subtitle">Ayuda Económica</h4>
                <p class="card-text center">A personas calificadas les guiamos en el proceso para ayuda financiera del Gobierno Federal a través
                    del Departamento de Servicios Humanos de Illinois para el cuidado de niños.
                </p>
            </div>
        </div>

          <div class="card mb-3">
                <img class="card-img-top services-img" src="images/school.png">
                <div class="card-body">
                  <h4 class="center subtitle">Acompañar a la Escuela</h4>
                  <p class="card-text center">Llevamos y recogemos nuestros niños de escuelas cercanas.
                  </p>
                </div>
            </div>
    
            <div class="card mb-3">
                <img class="card-img-top services-img" src="images/sleep.png">
                <div class="card-body">
                  <h4 class="center subtitle">Horario Extendido</h4>
                  <p class="card-text center">Además de las horas regulares de día, nuestro horario extendido ayuda a padres con diferente
                      y variable horario laboral
                  </p>
                </div>
            </div>

    </div>

    <!-- UNIVERSAL FOOTER -->
    <% include ../partials/SPA/footer %>
    
</body>
</html>