<br>
<br>

<div class=" footer" id="contact">
    <div class="container">
        <br>
        <div class="row">
            <div class="col">
                <div class="row">
                    <h4 class="center">CONTACT</h4>
                </div>
                <div class="row center sm-inlineblock">
                    <!-- Bussines hours -->
                    <h5 class="center"><span><i class="far fa-clock red"></i></span> 6:00 a.m. - 8:00 p.m.</h5>
                </div>
                <br>
                <div class="row sm-inlineblock center">
                    <br>
                    <div class="col">
                        <!-- Direct phone link -->
                        <a href="tel:+17733501070" class="link-white text-decoration-none"><h5><span><i class="fas fa-phone-alt red"></i></span> (773) 350-1070</h5></a>
                        <!-- Direct email link -->
                        <a href="mailto:info@pequenossabios.com" class="link-white text-decoration-none"><h5><span><i class="fas fa-envelope-open-text red"></i></span> email us</h5> </a>
                    </div>
                    <div class="col">
                        <!-- Link with Google Maps for location -->
                        <a href="https://www.google.com/maps/place/5046+W+Crystal+St,+Chicago,+IL+60651" class="link-white text-decoration-none">
                            <h5><span><i class="fas fa-map-marker-alt red"></i></span> Location</h5>
                            <h5>5046 W Crystal St.</h5>
                            <h5>Chicago, IL 60651</h5>
                            <br>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                    <div class="row center">
                        <!-- Other different interesting links for external information -->
                        <h4 class="center">INTERESTING LINKS</h4>
                    </div>
                    <br>
                    <div class="row center">
                        <div class="col">
                            <!-- INTEREST LINKS -->
                            <a href="https://www2.illinois.gov/dcfs/Pages/default.aspx"><img src="./images/DCFS.png" alt="IL DCFS" class="foot-image"></a>
                            <br>
                        </div>
                        <div class="col">
                            <!-- INTEREST LINKS -->
                            <a href="https://www.actforchildren.org/"><img src="./images/ACTION.PNG" alt="Illinois action for Children" class="foot-image"></a>
                        </div> 
                    </div>
            </div>
    </div>
    <br>
</div>