<div class=" footer" id="contact">
    <div class="container">
        <br>
        <div class="row">
            <div class="col">
                <div class="row center">
                    <h4>CONTACT</h4>
                </div>
                <div class="row center sm-inlineblock">
                    <!-- Bussines hours -->
                    <h5><span><i class="far fa-clock"></i></span> 6:00 a.m. - 8:00 p.m.</h5>
                </div>
                <br>
                <div class="row">
                    <br>
                    <div class="col">
                        <!-- Direct phone link -->
                        <a href="tel:+17733501070" class="link-white text-decoration-none"><h5><span><i class="fas fa-phone-alt"></i></span> (773) 350-1070</h5></a>
                        <!-- Direct email link -->
                        <a href="mailto:" class="link-white text-decoration-none"><h5><span><i class="fas fa-envelope-open-text"></i></span> email@here.com</h5> </a>
                    </div>
                    <div class="col">
                        <!-- Link with Google Maps for location -->
                        <a href="https://www.google.com/maps/place/5046+W+Crystal+St,+Chicago,+IL+60651" class="link-white text-decoration-none">
                            <h5><span><i class="fas fa-map-marker-alt"></i></span> Location</h5>
                            <h5>5046 W Crystal St.</h5>
                            <h5>Chicago, IL 60651</h5>
                            <br>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                    <div class="row center">
                        <!-- Other different interesting links for external information -->
                        <h4>INTEREST LINKS</h4>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- INTEREST LINKS -->
                        </div>
                        <div class="col">
                            <!-- INTEREST LINKS -->
                        </div>
                    </div>
            </div>
    </div>
    <br>
</div>