<!-- NAVBAR -->
<nav class="navbar navbar-expand-xl navbar-light text-navbar sticky fixed-top navbar-borders">
    <!-- <div class="container"> -->
        <a class="navbar-brand nav-title text-navbar" style="color: rgb(58, 56, 117)" href="/">
            <img src="images/logo.png" class="logo-nav">  Pequeños Sabios Daycare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/espanol">Español</a>
            </li>
          </ul>
        </div> 
    </div>
</nav>

<br>
<!-- <br>
<br> -->