<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>

    <!-- UNIVERSAL HEAD LINKS -->
    <% include partials/head %>

</head>
<body>

    <!--UNIVERSAL NAVBAR -->
    <% include partials/navigation %>

    <div class="container">
        <p class="content align-right">About us</p>

        <p>
            We are a child care home group with more than fifteen years of experience working for Chicago's childhood. Our warming familiar environment 
        </p>
    </div>

    <!-- UNIVERSAL FOOTER -->
    <% include partials/footer %>

</body>
</html>