<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Little Genius Day Care</title>

    <!-- UNIVERSAL HEAD LINKS -->
    <% include partials/head %>

</head>
<body>

    <!--UNIVERSAL NAVBAR -->
    <% include partials/navigation %>

    <br>

    <div class="container center">
        <div class="row">
            <div class="col12">

                <!-- INFO CAROUSEL -->
                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="5000">
                            <img src="images/CAROUSEL1.jpg" class="d-block car-img">
                        </div>
                        <div class="carousel-item" data-interval="5000">
                            <img src="images/CAROUSEL2.jpg" class="d-block car-img">
                        </div>
                        <div class="carousel-item" data-interval="5000">
                            <img src="images/CAROUSEL3.jpg" class="d-block car-img">
                        </div>
                        <div class="carousel-item" data-interval="5000">
                            <img src="images/CAROUSEL4.jpg" class="d-block car-img">
                        </div>
                        <div class="carousel-item" data-interval="5000">
                            <img src="images/CAROUSEL5.jpg" class="d-block car-img">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br>

    <p class="content">Welcome to our day care home!</p>

    <br>

    <div class="container">
        <p>Our program is licensed by Chicago City and the Illinois Department of Children and Familiy Services (DCFS). 
            The program philosophy of child care in The Little Genius is to promote the growth of our children social, cognitive,
            emotionally and physically with a variety of activities leading by teachers and others leading by childrens themselves. 
            The activities are desingned to develop creativity, communication and self esteem. We work knowing parents are first 
            children's educators.
        </p> 
    </div>

    <br>

    <!-- UNIVERSAL FOOTER -->
    <% include partials/footer %>

</body>
</html>