<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pequeños Sabios Day Care</title>

    <!-- UNIVERSAL HEAD LINKS -->
    <% include ../partials/ENG/head %>

</head>
<body>

    <!--UNIVERSAL NAVBAR -->
    <% include ../partials/ENG/navigation %>

    <div class="container">

        <div class="row">
            <p class="content col">Welcome to our day care home group!</p>
        </div>

        <div class="row sm-inlineblock">

            <div class="col ">
                <p class="white-bg">
                    We are a child care home group with more than fifteen years of experience working for Chicago's childhood. 
                    Our warming and familiar environment ensures a healthy development physically and mentally for our children, 
                    we take care of them as ours providing a safe playground to interact with other children using learning activities. 
                    Our doors are open for our community children between 6 weeks to 12 years. We are located in Chicago's 
                    northwest area between Cicero Ave and Laramie Ave with Division Ave, by La Follette Park.
                </p>
            </div>

            <!-- INFO CAROUSEL -->
            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade rotated shadow-lg" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="5000">
                        <img src="images/CAROUSEL1.jpg" class="d-block car-img">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="images/CAROUSEL2.jpg" class="d-block car-img">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="images/CAROUSEL3.jpg" class="d-block car-img">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="images/CAROUSEL4.jpg" class="d-block car-img">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="images/CAROUSEL5.jpg" class="d-block car-img">
                    </div>
                </div>
            </div>
            <!-- END CAROUSEL -->
        </div>

        <br>
        <br>
        <br>

        <div class="row">
                <div class="col">
                    <p class="content"><i class="far fa-clock fa-lg"></i> Fexible schedule</p>
                    <p class="">We have three turns for parents elections: </p>
                    <ul>
                        <li>Morning</li>
                        <li>Afternoon</li>
                        <li>Extended</li>
                    </ul>
                </div>
                <div class="col">
                    <p class="content"><i class="fas fa-running fa-lg"></i> Learning activities</p>
                    <ul>
                        <li>Daily routine</li>
                        <li>Field trips</li>
                        <li>Neighborhood exploration</li>
                        <li>Learning center</li>
                        <li>Group activities</li>
                    </ul>
                </div>
        </div>
        <div class="row">
                <div class="col">
                    <p class="content"><i class="fas fa-apple-alt fa-lg"></i> Food services</p>
                    <ul>
                        <li>Homemade food</li>
                        <li>Balanced diet</li>
                        <li>Individual lunches schedule</li>
                    </ul>
                </div>
                <div class="col">
                    <p class="content"><i class="fas fa-child fa-lg"></i> Capacity</p>
                    <ul>
                        <li>Morning: 8 children</li>
                        <li>Afternoon: 8 children</li>
                        <li>Extended: 5 children</li>
                    </ul>
                </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="content"><i class="fas fa-briefcase-medical fa-lg"></i> First aids</p>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col">
                <p class="content"></i> </p>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>


    </div>

    <!-- UNIVERSAL FOOTER -->
    <% include ../partials/ENG/footer %>

</body>
</html>