<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parent's School :: Pequeños Sabios Daycare</title>

    <!-- UNIVERSAL HEAD LINKS -->
    <% include ../partials/ENG/head %>

</head>
<body>

    <!--UNIVERSAL NAVBAR -->
    <% include ../partials/ENG/navigation %>

    <div class="container">

        <div class="row">
            <div class="col center">        
                <iframe src="https://www.youtube.com/embed/8jHsRN32EB0"></iframe>
                <h4>10 Parenting mistakes we should avoid</h4>
        </div>
            <div class="col center">
                <iframe src="https://www.youtube.com/embed/eJHSltYXsIk"></iframe>
                <h4>7 Types of child behavior you shouldn't ignore</h4>        
            </div>
        </div>

        <div class="row">
            <div class="col center">        
                <iframe src="https://www.youtube.com/embed/GBvQvi79Fw4"></iframe>
                <h4>10 Parenting tips to calm down any child in a minute</h4>
        </div>
            <div class="col center">
                <iframe src="https://www.youtube.com/embed/xzCXgdoBtGY"></iframe>
                <h4>How to answer the most difficult children's questions</h4>        
            </div>
        </div>

        <div class="row">
            <div class="col center">        
                <iframe src="https://www.youtube.com/embed/fIxypHmYXlo"></iframe>
                <h4>4 Questions You should ask children every day</h4>
        </div>
            <div class="col center">
                <iframe src="https://www.youtube.com/embed/a4WGVOzTR4A"></iframe>
                <h4>18 Important things babies are trying to tell you</h4>        
            </div>
        </div>


    </div>    


    <!-- UNIVERSAL FOOTER -->
    <% include ../partials/ENG/footer %>

</body>
</html>