<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services :: Pequeños Sabios Daycare</title>

    <!-- UNIVERSAL HEAD LINKS -->
    <% include ../partials/ENG/head %>

</head>
<body>
    
    <!--UNIVERSAL NAVBAR -->
    <% include ../partials/ENG/navigation %>

    <div class="container">

        <p class="content align-right">Services</p>

        <div class="card mb-3">
            <img class="card-img-top services-img" src="images/abacus.png">
            <div class="card-body">
              <h4 class="center subtitle">Child Care</h4>
              <p class="card-text center">We concentrate our effort to emulate the best familiar enviroment to our children where they will feel as they are in home. 
                  Our activities and routines are focused to develop social and cognitives skills in each of our children.
              </p>
            </div>
          </div>

        <div class="card mb-3">
            <img class="card-img-top services-img" src="images/hands.png">
            <div class="card-body">
                <h4 class="center subtitle">Financial Aids</h4>
                <p class="card-text center">For qualified people we advice in the process for financial aids from Federal Government through the Illinois Department 
                of Human Services for childcaring.
                </p>
            </div>
        </div>

          <div class="card mb-3">
                <img class="card-img-top services-img" src="images/school.png">
                <div class="card-body">
                  <h4 class="center subtitle">Picking Up From School</h4>
                  <p class="card-text center">To bring and pick our children up in scholar age to nearby schools.
                  </p>
                </div>
            </div>
    
            <div class="card mb-3">
                <img class="card-img-top services-img" src="images/sleep.png">
                <div class="card-body">
                  <h4 class="center subtitle">Extended Hours</h4>
                  <p class="card-text center">In addition to the regular day, our extended hours helps parents who have different laboral schedules.
                  </p>
                </div>
            </div>

    </div>

    <!-- UNIVERSAL FOOTER -->
    <% include ../partials/ENG/footer %>
    
</body>
</html>