<!-- NAVBAR -->
<nav class="navbar navbar-expand-xl navbar-light text-navbar navbar-borders">
        <!-- <div class="container"> -->
            <a class="navbar-brand nav-title text-navbar" style="color: rgb(58, 56, 117)" href="/">
                <img src="images/logo.png" class="logo-nav">  Pequeños Sabios Daycare</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link boom" href="/espanol">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link boom" href="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link boom" href="/servicios">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link boom" href="/escuela">Escuela de Padres</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link boom" href="#contact">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link boom" href="/">English</a>
                </li>
              </ul>
            </div> 
        </div>
    </nav>
    
    <br>
    <!-- <br>
    <br> -->